<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上海电机学院BBS-电机人自己的BBS</title>
    <link rel="shortcut icon" href="/common/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/user/css/reset.css">
    <link rel="stylesheet" href="/user/css/index.css">
    <link rel="stylesheet" href="/user/css/blocks.css">
</head>
<body>

<header class="header">
    <div class="header-inner body-width">
        <a href="#" class="logo"></a>
        <div class="category">
            <a href="#" class="category-link">分类</a>
            <i class="icon-arrow"></i>
            <div class="category-result"></div>
            <!-- 边框 -->
            <span class="btn-border"></span>
            <span class="result-border"></span>
            <span class="neck-border"></span>
        </div>
        <div class="search">
            <input type="text" class="search-text" placeholder="Seach here...">
            <button class="search-btn"><i class="icon-search"></i></button>
        </div>
        <nav class="header-nav">
            <ul>
                <div id="l-no-login">
                    <li>
                        <span class="line"></span>
                        <a href="/user/register">注册</a>
                    </li>
                    <li>
                        <span class="line"></span>
                        <a href="/user/login">登录</a>
                    </li>
                </div>
                <div id="l-login" style="display: none;">
                    <li>
                        <span class="line"></span>
                        <a id="l-welcome" href="#" style="font-size:18px;color:red;"></a>
                    </li>
                    <li>
                        <span class="line"></span>
                        <a href="#" id="l-logout">注销</a>
                    </li>
                </div>
            </ul>
        </nav>
    </div>
    <div class="header-shadow"></div>
</header>

<div class="main">
    <div class="main-inner body-width">
        <div class="main-cont main-block">
            <ol class="navpath">
                <li><a href="/user/index">首页</a></li>
                <li> >> </li>
                <li class="active"><a href="/user/block">版块</a></li>
            </ol>
        </div>
        <div class="main-cont main-block">
            <div class="main-cont__title">
                <h3>全部板块</h3>
            </div>
            <ul id="all-blocks" class="main-cont__list clearfix">
                    <li class="item" id="b-0">
                        <a href="#" class="pic"><img id="b-0-pic" src="/common/images/0.jpg" alt="#"></a>
                        <div class="info">
                            <a href="#" class="title" id="b-0-title">Selenium</a>
                            <p id="b-0-info">0帖子 · 0人收藏</p>
                            <p>by <a href="#" class="author" id="b-0-author">Selenium</a></p>
                        </div>
                    </li>
                    <li class="item" id="b-1">
                        <a href="#" class="pic"><img id="b-1-pic" src="/common/images/0.jpg" alt="#"></a>
                        <div class="info">
                            <a href="#" class="title" id="b-1-title">Selenium</a>
                            <p id="b-1-info">0帖子 · 0人收藏</p>
                            <p>by <a href="#" class="author" id="b-1-author">Selenium</a></p>
                        </div>
                    </li>
                    <li class="item" id="b-2">
                        <a href="#" class="pic"><img id="b-2-pic" src="/common/images/0.jpg" alt="#"></a>
                        <div class="info">
                            <a href="#" class="title" id="b-2-title">Selenium</a>
                            <p id="b-2-info">0帖子 · 0人收藏</p>
                            <p>by <a href="#" class="author" id="b-2-author">Selenium</a></p>
                        </div>
                    </li>
                    <li class="item" id="b-3">
                        <a href="#" class="pic"><img id="b-3-pic" src="/common/images/0.jpg" alt="#"></a>
                        <div class="info">
                            <a href="#" class="title" id="b-3-title">Selenium</a>
                            <p id="b-3-info">0帖子 · 0人收藏</p>
                            <p>by <a href="#" class="author" id="b-3-author">Selenium</a></p>
                        </div>
                    </li>
                    <li class="item" id="b-4">
                        <a href="#" class="pic"><img id="b-4-pic" src="/common/images/0.jpg" alt="#"></a>
                        <div class="info">
                            <a href="#" class="title" id="b-4-title">Selenium</a>
                            <p id="b-4-info">0帖子 · 0人收藏</p>
                            <p>by <a href="#" class="author" id="b-4-author">Selenium</a></p>
                        </div>
                    </li>
            </ul>
        </div>
    </div>
    <a href="#" id="readMore">回到顶部</a>
</div>

<footer class="footer">
    <div class="footer-container">
        <div class="footer-link">
            <div class="footer-link__item">
                <h4 class="footer-title">关于我们</h4>
                <ul class="footer-list">
                    <li class="item"><a href="#">关于我们</a></li>
                    <li class="item"><a href="#">帮助中心</a></li>
                    <li class="item"><a href="#">加入我们</a></li>
                    <li class="item"><a href="#">联系我们</a></li>
                    <li class="item"><a href="#">标签集</a></li>
                    <li class="item"><a href="#">商务合作</a></li>
                    <li class="item"><a href="#">免责声明</a></li>
                </ul>
            </div>
            <div class="footer-link__item">
                <h4 class="footer-title">手机应用</h4>
                <ul class="footer-list">
                    <li class="item"><a href="#">关于我们</a></li>
                    <li class="item"><a href="#">帮助中心</a></li>
                    <li class="item"><a href="#">加入我们</a></li>
                </ul>
            </div>
            <div class="footer-link__item">
                <div class="footer-orcode"><img src="/user/images/app_qrcode.png" alt="#"></div>
                <div class="orcode-text">
                    <p>扫描二维码</p>
                    <p>下载tang手机客户端</p>
                </div>
            </div>
            <div class="footer-link__item">
                <h4 class="footer-title">关注我们</h4>
                <ul class="footer-list">
                    <li class="item"><a href="#">关于我们</a></li>
                    <li class="item"><a href="#">帮助中心</a></li>
                </ul>
            </div>
            <div class="footer-link__item">
                <h4 class="footer-title">友情链接</h4>
                <ul class="footer-list">
                    <li class="item"><a href="#">关于我们</a></li>
                    <li class="item"><a href="#">帮助中心</a></li>
                    <li class="item"><a href="#">关于我们</a></li>
                    <li class="item"><a href="#">帮助中心</a></li>
                    <li class="item"><a href="#">关于我们</a></li>
                    <li class="item"><a href="#">帮助中心</a></li>
                    <li class="item"><a href="#">关于我们</a></li>
                    <li class="item"><a href="#">帮助中心</a></li>
                </ul>
            </div>
        </div>
        <div class="fopter-copyright">
            <p>©2017 ****** 版权所有。</p>
        </div>
    </div>
</footer>


<script src="/common/js/jquery-3.1.1.js"></script>
<script src="/common/js/jquery.cookie.js"></script>
<script src="/common/js/bootstrap.min.js"></script>
<script src="/user/js/blocks.js"></script>
<script src="/common/js/vue.min.js"></script>
</body>
</html>