<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上海电机学院BBS-电机人自己的BBS</title>
    <link rel="shortcut icon" href="/common/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/user/css/reset.css">
    <link rel="stylesheet" href="/user/css/index.css">
</head>
<body>

<header class="header">
    <div class="header-inner body-width">
        <a href="#" class="logo"></a>
        <nav class="header-nav">
            <ul>
                <div id="l-no-login">
                    <li>
                        <span class="line"></span>
                        <a href="/user/register">注册</a>
                    </li>
                    <li>
                        <span class="line"></span>
                        <a href="/user/login">登录</a>
                    </li>
                </div>
                <div id="l-login" style="display: none;">
                    <li>
                        <span class="line"></span>
                        <a id="l-welcome" href="/user/profile" style="font-size:18px;"></a>
                    </li>
                    <li>
                        <span class="line"></span>
                        <a href="#" id="l-logout">注销</a>
                    </li>
                    <li>
                        <span class="line"></span>
                        <a href="/user/md">发布文章</a>
                    </li>
                </div>
            </ul>
        </nav>
    </div>
    <div class="header-shadow"></div>
</header>

<div class="main">
    <div class="main-inner body-width">
        <div class="banner clearfix">
            <div class="slider" id="slider">
                <ul class="slider-wrapper">
                    <li id="news-item-0" class="item">
                        <a id="news-a-0" href="#" class="pic"><img id="news-img-0" src="/user/images/default/news.jpg"
                                                                   alt="暂无图片"></a>
                    </li>
                    <li id="news-item-1" class="item">
                        <a id="news-a-1" href="#" class="pic"><img id="news-img-1" src="/user/images/default/news.jpg"
                                                                   alt="暂无图片"></a>
                    </li>
                    <li id="news-item-2" class="item">
                        <a id="news-a-2" href="#" class="pic"><img id="news-img-2" src="/user/images/default/news.jpg"
                                                                   alt="暂无图片"></a>
                    </li>
                    <li id="news-item-3" class="item">
                        <a id="news-a-3" href="#" class="pic"><img id="news-img-3" src="/user/images/default/news.jpg"
                                                                   alt="暂无图片"></a>
                    </li>
                    <li id="news-item-4" class="item">
                        <a id="news-a-4" href="#" class="pic"><img id="news-img-4" src="/user/images/default/news.jpg"
                                                                   alt="暂无图片"></a>
                    </li>
                </ul>
                <a href="javascript:;" class="slider-prev"></a>
                <a href="javascript:;" class="slider-next"></a>
                <div class="slider-btns">
                    <span class="item"></span>
                    <span class="item"></span>
                    <span class="item"></span>
                    <span class="item"></span>
                    <span class="item"></span>
                </div>
            </div>
            <div class="banner-info">
                <div class="news body-border">
                    <p class="introduce">
                        上海电机学院（Shanghai DianJi
                        University）是一所面向先进制造业及现代服务业，以工学为主，经济学、管理学、文学、艺术学等学科协调发展的的普通高等院校。被国务院学位办列为“服务国家特殊需求人才培养项目”专业学位研究生试点单位，入选教育部“卓越工程师教育培养计划”高校、国家级特色专业建设点、国家级新工科研究与实践项目、上海市首批深化创新创业教育改革示范高校、上海高等学校一流本科建设引领计划、上海高等学校一流研究生教育引领计划、全国职业教育先进单位、上海市促进就业先进集体、上海市文明单位，CDIO工程教育联盟成员。
                    </p>
                </div>
                <div class="app body-border">
                    <p class="myself">Author: 德泰1613万涛
                    <p>
                </div>
            </div>
        </div>
        <div class="main-cont main-block">
            <div class="main-cont__title">
                <h3>热门板块</h3>
                <a href="/user/block" class="more">全部板块 ></a>
            </div>
            <ul class="main-cont__list clearfix">
                <li class="item" id="b-0">
                    <a id="b-0-article" href="#" class="pic"><img id="b-0-pic" src="/user/images/cont/main_img1.jpg"
                                                                  alt="#"></a>
                    <div class="info">
                        <a href="#" class="title" id="b-0-title">Selenium</a>
                        <p id="b-0-info">0帖子 · 0人收藏</p>
                        <p>by <a href="/user/profile" class="author" id="b-0-author">Selenium</a></p>
                    </div>
                </li>
                <li class="item" id="b-1">
                    <a id="b-1-article" href="#" class="pic"><img id="b-1-pic" src="/user/images/cont/main_img1.jpg"
                                                                  alt="#"></a>
                    <div class="info">
                        <a href="#" class="title" id="b-1-title">Selenium</a>
                        <p id="b-1-info">0帖子 · 0人收藏</p>
                        <p>by <a href="/user/profile" class="author" id="b-1-author">Selenium</a></p>
                    </div>
                </li>
                <li class="item" id="b-2">
                    <a id="b-2-article" href="#" class="pic"><img id="b-2-pic" src="/user/images/cont/main_img1.jpg"
                                                                  alt="#"></a>
                    <div class="info">
                        <a href="#" class="title" id="b-2-title">Selenium</a>
                        <p id="b-2-info">0帖子 · 0人收藏</p>
                        <p>by <a href="/user/profile" class="author" id="b-2-author">Selenium</a></p>
                    </div>
                </li>
                <li class="item" id="b-3">
                    <a id="b-3-article" href="#" class="pic"><img id="b-3-pic" src="/user/images/cont/main_img1.jpg"
                                                                  alt="#"></a>
                    <div class="info">
                        <a href="#" class="title" id="b-3-title">Selenium</a>
                        <p id="b-3-info">0帖子 · 0人收藏</p>
                        <p>by <a href="/user/profile" class="author" id="b-3-author">Selenium</a></p>
                    </div>
                </li>
                <li class="item" id="b-4">
                    <a id="b-4-article" href="#" href="#" class="pic"><img id="b-4-pic"
                                                                           src="/user/images/cont/main_img1.jpg"
                                                                           alt="#"></a>
                    <div class="info">
                        <a href="#" class="title" id="b-4-title">Selenium</a>
                        <p id="b-4-info">0帖子 · 0人收藏</p>
                        <p>by <a href="/user/profile" class="author" id="b-4-author">Selenium</a></p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="main-cont main-user">
            <div class="main-cont__title">
                <h3>趣味功能</h3>
            </div>
            <ul class="main-cont__list clearfix">
                <li class="item">
                    <a id="f-0-back-image" href="#" class="pic"
                       style=" background: url(/user/images/cont/user_img1.jpg) no-repeat; background-size: cover; "></a>
                    <a id="f-0-head-image" href="#" class="headImg"><img id="f-0-front-image"
                                                                         src="/user/images/cont/head_img1.jpeg"
                                                                         alt="#"></a>
                    <div class="info">
                        <a id="f-0-name" href="#" class="info-title">虽虽酱</a>
                        <p>简介: <b id="f-0-info">Q版</b></p>
                    </div>
                </li>
                <li class="item">
                    <a id="f-1-back-image" href="#" class="pic"
                       style=" background: url(/user/images/cont/user_img1.jpg) no-repeat; background-size: cover; "></a>
                    <a id="f-1-head-image" href="#" class="headImg"><img id="f-1-front-image"
                                                                         src="/user/images/cont/head_img1.jpeg"
                                                                         alt="#"></a>
                    <div class="info">
                        <a id="f-1-name" href="#" class="info-title">虽虽酱</a>
                        <p>简介: <b id="f-1-info">Q版</b></p>
                    </div>
                </li>
                <li class="item">
                    <a id="f-2-back-image" href="#" class="pic"
                       style=" background: url(/user/images/cont/user_img1.jpg) no-repeat; background-size: cover; "></a>
                    <a id="f-2-head-image" href="#" class="headImg"><img id="f-2-front-image"
                                                                         src="/user/images/cont/head_img1.jpeg"
                                                                         alt="#"></a>
                    <div class="info">
                        <a id="f-2-name" href="#" class="info-title">虽虽酱</a>
                        <p>简介: <b id="f-2-info">Q版</b></p>
                    </div>
                </li>
                <li class="item" style="display: none">
                    <a id="f-3-back-image" href="#" class="pic"
                       style=" background: url(/user/images/cont/user_img1.jpg) no-repeat; background-size: cover; "></a>
                    <a id="f-3-head-image" href="#" class="headImg"><img id="f-3-front-image"
                                                                         src="/user/images/cont/head_img1.jpeg"
                                                                         alt="#"></a>
                    <div class="info">
                        <a id="f-3-name" href="#" class="info-title">虽虽酱</a>
                        <p>简介: <b id="f-3-info">Q版</b></p>
                    </div>
                </li>
                <li style="display: none" class="item">
                    <a id="f-4-back-image" href="#" class="pic"
                       style=" background: url(/user/images/cont/user_img1.jpg) no-repeat; background-size: cover; "></a>
                    <a id="f-4-head-image" href="#" class="headImg"><img id="f-4-front-image"
                                                                         src="/user/images/cont/head_img1.jpeg"
                                                                         alt="#"></a>
                    <div class="info">
                        <a id="f-4-name" href="#" class="info-title">虽虽酱</a>
                        <p>简介: <b id="f-4-info">Q版</b></p>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    <a href="#" id="readMore">回到顶部</a>
</div>

<footer class="footer">
    <div class="footer-container">
        <div class="fopter-copyright">
            <p>©德泰1613万涛 版权所有。</p>
        </div>
        <div class="footer-link">
            <div class="footer-link__item">
                <h4 class="footer-title">友情链接</h4>
                <ul class="footer-list">
                    <li class="item"><a target="_blank" href="https://www.sdju.edu.cn">上海电机学院官网</a></li>
                </ul>
            </div>
            <div class="footer-link__item">
                <h4 class="footer-title">联系我</h4>
                <ul class="footer-list">
                    <li class="item"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=895484122&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:895484122:52" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<script src="/common/js/jquery-3.1.1.js"></script>
<script src="/user/js/index.js"></script>
<script src="/common/js/jquery.cookie.js"></script>
</body>
</html>