<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上海电机学院BBS-电机人自己的BBS</title>
    <link rel="shortcut icon" href="/common/images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/user/css/reset.css"/>
    <link rel="stylesheet" href="/user/css/index.css"/>
    <link rel="stylesheet" href="/common/css/fontawesome.min.css"/>
    <link rel="stylesheet" href="/user/css/login.css"/>
</head>
<body>

<header class="header">
    <div class="header-inner body-width">
        <a href="#" class="logo"></a>
        <nav class="header-nav">
            <ul>
                <li>
                    <span class="line"></span>
                    <a href="/user/register">注册</a>
                </li>
                <li>
                    <span class="line"></span>
                    <a href="/user/login">登录</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header-shadow"></div>
</header>

<div class="main">
    <div class="main-login body-width">
        <div class="dowebok" id="dowebok">
            <div class="form-container sign-up-container">
                <form action="#" id="r-form">
                    <h1>注册</h1>
                    <div class="social-container">
                        <a href="#" class="social"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social"><i class="fa fa-google"></i></a>
                        <a href="#" class="social"><i class="fa fa-facebook"></i></a>
                    </div>
                    <input id="r-username" type="text" name="username" placeholder="姓名">
                    <input id="r-email" type="email" name="email" placeholder="电子邮箱">
                    <input id="r-password" type="password" name="password" placeholder="密码">
                    <button id="btn-register">注册</button>
                </form>
            </div>
            <div class="form-container sign-in-container">
                <form action="#" id="l-form">
                    <h1>登录</h1>
                    <div class="social-container">
                        <a href="#" class="social"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social"><i class="fa fa-google"></i></a>
                        <a href="#" class="social"><i class="fa fa-facebook"></i></a>
                    </div>
                    <span>或使用您的帐号</span>
                    <input id="l-username" type="text" placeholder="用户名" name="username">
                    <input id="l-password" type="password" placeholder="密码" name="password">
                    <a href="#">忘记密码？</a>
                    <button id="btn-login">登录</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>已有帐号？</h1>
                        <button class="ghost" id="signIn">登录</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>没有帐号？</h1>
                        <p>立即注册加入我们，和我们一起开始旅程吧</p>
                        <button class="ghost" id="signUp">注册</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="footer-container">
        <div class="fopter-copyright">
            <p>©德泰1613万涛 版权所有。</p>
        </div>
        <div class="footer-link">
            <div class="footer-link__item">
                <h4 class="footer-title">友情链接</h4>
                <ul class="footer-list">
                    <li class="item"><a target="_blank" href="https://www.sdju.edu.cn">上海电机学院官网</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="/common/js/jquery-3.1.1.js"></script>
<script src="/user/js/index.js"></script>
<script src="/user/js/login.js"></script>
<script src="/common/js/md5.js"></script>
<script src="/common/js/encryption.js"></script>
<script src="/common/js/jquery.validate.min.js"></script>
<script src="/common/js/jquery.cookie.js"></script>
</body>
</html>