<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>上海电机学院BBS-电机人自己的BBS</title>
    <link rel="shortcut icon" href="/common/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/user/css/message.css"/>
</head>
<body>
<div class="wrap">
    <div class="says">
        <h1>来了就留个言再走吧...</h1>
        <textarea placeholder="请点击发布试试吧"></textarea><input type="button" value="发布">
        <div class="errmsg">请填写内容后再发布！</div>
    </div>
    <ul>

    </ul>
</div>
<script type="text/javascript" src="/user/js/message.js"></script>
<script src="/common/js/jquery-3.1.1.js"></script>
</body>
</html>