<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>上海电机学院BBS-电机人自己的BBS</title>
    <link rel="shortcut icon" href="/common/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/user/css/qr.css"/>
</head>
<body>
<div class="wrap">
    <div class="says">
        <textarea id="qr-content" placeholder="输入二维码内容"></textarea>
        <input id="write-qr" type="button" value="生成二维码">
    </div>
    <div class="show-qr">
        <img id="show-qr-image" width="500" height="500" src=""/>
    </div>
</div>
<script src="/common/js/jquery-3.1.1.js"></script>
<script type="text/javascript" src="/user/js/qr.js"></script>
</body>
</html>