<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上海电机学院BBS-电机人自己的BBS</title>
    <link rel="shortcut icon" href="/common/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/user/css/reset.css">
    <link rel="stylesheet" href="/user/css/index.css">
</head>
<body>

<header class="header">
    <div class="header-inner body-width">
        <a href="#" class="logo"></a>
        <div class="category">
            <a href="#" class="category-link">分类</a>
            <i class="icon-arrow"></i>
            <div class="category-result"></div>
            <!-- 边框 -->
            <span class="btn-border"></span>
            <span class="result-border"></span>
            <span class="neck-border"></span>
        </div>
        <div class="search">
            <input type="text" class="search-text" placeholder="Seach here...">
            <button class="search-btn"><i class="icon-search"></i></button>
        </div>
        <nav class="header-nav">
            <ul>
                <li>
                    <span class="line"></span>
                    <a href="#">注册</a>
                </li>
                <li>
                    <span class="line"></span>
                    <a href="#">登录</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header-shadow"></div>
</header>

<div class="main">
    <div class="main-inner body-width">
    </div>
</div>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-link">
                <div class="footer-link__item">
                    <h4 class="footer-title">关于我们</h4>
                    <ul class="footer-list">
                        <li class="item"><a href="#">关于我们</a></li>
                        <li class="item"><a href="#">帮助中心</a></li>
                        <li class="item"><a href="#">加入我们</a></li>
                        <li class="item"><a href="#">联系我们</a></li>
                        <li class="item"><a href="#">标签集</a></li>
                        <li class="item"><a href="#">商务合作</a></li>
                        <li class="item"><a href="#">免责声明</a></li>
                    </ul>
                </div>
                <div class="footer-link__item">
                    <h4 class="footer-title">手机应用</h4>
                    <ul class="footer-list">
                        <li class="item"><a href="#">关于我们</a></li>
                        <li class="item"><a href="#">帮助中心</a></li>
                        <li class="item"><a href="#">加入我们</a></li>
                    </ul>
                </div>
                <div class="footer-link__item">
                    <div class="footer-orcode"><img src="/user/images/app_qrcode.png" alt="#"></div>
                    <div class="orcode-text">
                        <p>扫描二维码</p>
                        <p>下载tang手机客户端</p>
                    </div>
                </div>
                <div class="footer-link__item">
                    <h4 class="footer-title">关注我们</h4>
                    <ul class="footer-list">
                        <li class="item"><a href="#">关于我们</a></li>
                        <li class="item"><a href="#">帮助中心</a></li>
                    </ul>
                </div>
                <div class="footer-link__item">
                    <h4 class="footer-title">友情链接</h4>
                    <ul class="footer-list">
                        <li class="item"><a href="#">关于我们</a></li>
                        <li class="item"><a href="#">帮助中心</a></li>
                        <li class="item"><a href="#">关于我们</a></li>
                        <li class="item"><a href="#">帮助中心</a></li>
                        <li class="item"><a href="#">关于我们</a></li>
                        <li class="item"><a href="#">帮助中心</a></li>
                        <li class="item"><a href="#">关于我们</a></li>
                        <li class="item"><a href="#">帮助中心</a></li>
                    </ul>
                </div>
            </div>
            <div class="fopter-copyright">
                <p>©2017 ****** 版权所有。</p>
            </div>
        </div>
    </footer>
    <script src="/common/js/jquery-3.1.1.js"></script>
    <script src="/user/js/index.js"></script>
</body>
</html>